// all the general config of the website

//the pallet for example, declared on variables:


$main:#252329;
$text-color: #e0e0e0;
$alt-text-color:  #828282;
$border-main: #bdbdbd;
$bk-btn: #2f80ed;
$font: "Noto Sans";
$hover-btn: #1958aa;
$media-extra-small: 430px;
$media-small: 600px;
$media-nav: 800px;
$media-large: 1170px;
$media-extra-large: 1600px;


